* {
  list-style: none;
}

.octocat {
  position: relative;
  margin: 0;
  display: inline-block;
  overflow: auto;
}

.image-footer {
  border-bottom: 1px solid lightgrey;
  max-width: 400px;
  margin: 5px;
  overflow:auto;
}

.octocat img {
  border: 1px solid lightgrey;
  margin: 5px;
  padding: 10px;
  width: 350px;
  border-radius: 5px;
}

.image-number {
  float: left;
  margin-top: 9px;
}

.image-number:before {
  content: "#";
  display: inline-block;
}

.image-number, .image-caption {
  color: lightgrey;
  font-weight: bold;
  font-family: sans-serif;
  display: inline-block;
}

.image-caption a {
  color: black;
  text-decoration: none;
}

.image-caption {
  float: right;
}

.authors {
  overflow:hidden;
  display: inline-block;
  vertical-align: middle;
}

.authors img {
  width: 28px;
  height: 28px;
  margin: 2px;
  padding:0;
  float: left;
}

ul {
  padding: 0;
}

.octocat::after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #babec2 transparent transparent transparent;
  margin-left: 350px;
  bottom: 45px;
  right: 8px;
}