* {
  list-style: none;
}

.octocat {
  position: relative;
  margin: 0;
  display: inline-block;
  overflow: auto;
}

.image-footer {
  border-bottom: 1px solid lightgrey;
  max-width: 400px;
  margin: 5px;
  overflow:auto;
}

.octocat img {
  border: 1px solid lightgrey;
  margin: 5px;
  padding: 10px;
  width: 350px;
  border-radius: 5px;
}

.image-number {
  float: left;
}

.image-number, .image-caption {
  color: lightgrey;
  font-weight: bold;
  font-family: sans-serif;
  display: inline-block;
}

.image-caption a {
  color: black;
  text-decoration: none;
}

.image-caption {
  float: right;
  display: inline;
}

.authors {
  display: inline-block;
  overflow:hidden;
  float: right;
}

.authors img {
  width: 28px;
  height: 28px;
  margin: 2px;
  padding:0;
  border: none;
  float: left;
}

ul {
  padding: 0;
}
